# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/

# Environment Variables
.env
.env.*

# Flask
instance/

# Node / React
node_modules/
frontend/node_modules/

# Build Files
dist/
build/
frontend/dist/
frontend/build/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp